.row
  .col-xs-8.col-xs-offset-2
    %ul.nav.nav-tabs
      %li{:role => "presentation", class: ("active" if current_page?(account_contacts_path))}
        %a{:href => account_contacts_path}
          %span.translation_missing My Contacts
      %li{:role => "presentation", class: ("active" if current_page?(account_messages_path))}
        %a{:href => account_messages_path}
          %span.translation_missing My Messages
      %li{:role => "presentation", class: ("active" if current_page?(account_users_path))}
        %a{:href => account_users_path}
          %span.translation_missing My Profile
