.row
  .col-xs-8.col-xs-offset-2
    %ul.nav.nav-tabs
      %li{:role => "presentation", class: ("active" if current_page?(account_contacts_path))}
        %a{:href => account_contacts_path}
          %span= t('account.navs.my_contacts')
      %li{:role => "presentation", class: ("active" if current_page?(account_messages_path))}
        %a{:href => account_messages_path}
          %span= t('account.navs.my_messages')
      %li{:role => "presentation", class: ("active" if current_page?(account_users_path))}
        %a{:href => account_users_path}
          %span= t('account.navs.my_profile')
